body {
  background-image: url(../src/img/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-size: 700px;
  background-position: 70% -15%;
}

.image {
  background-image: url("./img/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
  background-position: 20% 0%;
}

.box {
  display: none;
}

.ban {
  display: block;
}

@media (min-width: 576px) {
  .sm {
    display: block;
  }
  .smshow {
    display: none;
  }
}

@media (min-width: 992px) {
  .md {
    display: block;
  }
  .mdshow {
    display: none;
  }
}
